@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap");
* {
  font-family: "Fredoka", sans-serif;
}
/* navbar */
.navbar {
  background-color: #212529;
}

.active {
  color: #fff;
}
/* end navbar */

/* klik section */
section {
  padding-top: 5rem;
}
/* end section */

/* start home */
.jumbotron {
  padding-top: 6rem;
  background-color: #212529;
}

#jumbotron span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
}
.btn {
  background-color: #ececec;
}

/* end home */

/* start about */
#about {
  background-color: #ececec;
}
/* end about */

/* start resume */
#resume {
  background-color: #ececec;
}

#resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #212529;
}

#resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #82909c;
  position: relative;
  color: #212529;
}

#resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  left: -6px;
  top: 0;
  background: #212529;
  border: 2px solid #212529;
}

#resume .resume-item:last-child {
  padding-bottom: 0;
}

/* end resume */

/* start portofolio */
#portofolio {
  background-color: #ececec;
}
/* end portofolio */

/* start skills */
#skills {
  background-color: #ececec;
  margin-top: auto;
}

.icon img {
  border: 3px solid #212529;
}
/* end skills */

/* start contact */
#contact {
  background-color: #ececec;
}
#contact .info-box {
  color: white;
  text-align: center;
  background-color: #212529;
  padding: 20px 0 30px 0;
  border-radius: 10px;
}
#contact .info-box i.bx {
  font-size: 24px;
  color: #ffb727;
  border-radius: 50%;
  padding: 15px;
  background: #fff6e4;
}
#contact .info-box h3 {
  font-size: 20px;
  color: white;
  font-weight: 700;
  margin: 10px 0;
}
#contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
#contact .social-links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
#contact .social-links a {
  font-size: 18px;
  display: inline-block;
  color: white;
  line-height: 1;
  margin: 0 8px;
  transition: 0.3s;
  padding: 14px;
  border-radius: 50px;
  border: 1px solid #dde1e4;
}

/* end contact */

/* start footer */
.footer {
  background-color: #212529;
}
/* end footer */

/* mengatasi bug tidak responsive dari library aos */
* {
  overflow-x: hidden;
}
/* untuk menyembunyikan scrollbar dari overflow ktika run di chrome */
*::-webkit-scrollbar {
  display: none; /* untuk menyembunyikan scrollbar dari overflow ktika run di chrome */
}
/* untuk menyembunyikan scrollbar dari overflow ktika run di IE, Edge, Firefox */
* {
  -ms-overflow-style: none; /* IE dan Edge */
  scrollbar-width: none; /* Firefox */
}
/* end bug */
